.Nav{
  list-style-type: none;
  background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);;
  height: 55px;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

.Navmenue {
  display: flex;
  align-items: center;
  margin-right: -24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.Navlink {
  color: black;
  display: inline-flex;
  align-items: center;
  font-size: large;
  text-decoration: none;
  padding: 0 4rem;
  height: 100%;
  cursor: pointer;
  &.active {
    color: #000000;
  }
  //color: black;
  //display: inline-flex;
  //align-items: center;
  //justify-content: space-between;
  //text-decoration: none;
  //font-size: large;
  //padding: 0 3rem;
  //cursor: pointer;
  //
  //
  //&.active {
  //  color: #000000;
  //}
}


* {
  box-sizing: border-box;
}


/* Add padding to containers */
.container {
  border-radius: 2.5px;

  width: 50%;
  height: 100%;
  top: 50%;
  margin: auto;
  display: block;
  position: center;
  //padding: 35px;
  background-color: white;
  color: black;

}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email],input[type=address],input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
p{
  text-decoration-color: black;
}
.form{
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.form-body{
  text-align: left;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
}

.form_input{
  width: 60%;
}

.footer{
  text-align: center;
}
.link{
  color: burlywood;
}